/* Profile Styling */

.myorders-page{ 
    background-color: #F5F5F5;
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: 7.2rem;
    padding-bottom: 5rem;
    min-height: 60vh;
}


/* LEFT CONTAINER */


.myorders-page-left-container{
    background-color: #FFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 18rem;
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.myorders-page-left-container-wrapper{
    /* background-color: rgb(235, 197, 128); */
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.myorders-page-left-container-header{
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    gap: 0.7rem;
    font-weight: bold;
    font-size: 1.1rem;
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid lightgray;
}

.myorders-page-left-container-header img{
    max-width: 2rem;
    min-width: 2rem;
    max-height: 2rem;
    min-height: 2rem;
    border-radius: 50%;
}

.myorders-page-left-container-header span{
    font-size: 1.7rem;
    color: #989898;
}

.myorders-page-left-container-menus{
    /* background-color: antiquewhite; */
    color: #989898;
    display: flex;
    gap: 0.6rem;
    align-items: center;
    font-weight: 500;
    transition: 0.1s ease-in-out;
    cursor: pointer;
}

.myorders-page-left-container-menus:hover{
    transition: 0.2s ease-in-out;
    color: #5F2EEB;
    font-weight: bold;
}

#selected{
    font-weight: bold;
    color: #5F2EEB;
}


/* RIGHT CONTAINER */


.myorders-page-right-container{
    background-color: #FFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 64rem;
    width: 100%;
    height: 100%;
    padding-bottom: 1rem;
    border-radius: 12px;
}

.myorders-page-right-container-wrapper{
    display: flex;
    flex-direction: column;
}

.myorders-page-right-container-header-wrapper{
    /* background-color: rgb(248, 226, 184); */
    /* padding: 2rem; */
    padding-left: 7rem;
    padding-right: 7rem;
    min-height: 5.5rem;
    /* margin-top: 0.5rem; */
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-evenly;
    /* gap: 1.5rem; */
}

.myorders-page-right-container-header-parts{
    /* background-color: yellow; */
    /* display: flex;
    align-items: center; */
    font-weight: bold;
    cursor: pointer;
    box-sizing: border-box;
    /* padding-bottom: 1.5rem; */
}

.myorders-page-right-container-header-parts-wrapper{
    /* background-color: red; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    transition: 0.1s ease-in;
}

.myorders-page-right-container-header-parts-wrapper:hover{
    font-size: 1.05rem;
    transition: 0.1s ease-in;
}

#myorders-page-right-container-header-parts-selected{
    color: #5F2EEB;
    border-bottom: 2px solid #5F2EEB;
    /* padding-top: 2px; */
}

.myorders-page-right-container-contents-wrapper{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* border: 1px solid black; */
    padding: 2.5rem 3rem;
}

.myorders-page-right-container-contents-individual-container{
    border: 1px solid lightgray;
    border-radius: 12px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.myorders-page-right-container-contents-individual-header{
    /* background-color: orange; */
    display: flex;
    flex-wrap: wrap;
    /* gap: 2.5rem; */
}

.myorders-page-right-container-contents-individual-header-contents{
    display: flex;
    /* background-color: yellow; */
    align-items: center;
    font-size: 0.9rem;
    margin-right: 2rem;
}

.myorders-page-right-container-contents-individual-description{
    /* background-color: wheat; */
    /* gap: 1rem; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

.myorders-page-right-container-contents-individual-description-image{
    max-width: 4rem;
    width: 100%;
    /* background-color: #dd545f; */
}

.myorders-page-right-container-contents-individual-description-image img{
    max-width: 100%;
    border-radius: 12px;
}

.myorders-page-right-container-contents-individual-description-text{
    /* background-color: rgb(182, 240, 96); */
    max-width: 38.6rem;
    width: 100%;
    font-weight: bold;
}

.myorders-page-right-container-contents-individual-description-text p{
    margin-top: 0.2rem;
    font-weight: normal;
    color: #989898;
    font-size: 0.8rem;
}

.myorders-page-right-container-contents-individual-description-total{
    /* background-color: lightblue; */
    max-width: 10rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    border-left: 1px solid lightgray;
    color: black;
    font-size: 0.8rem;
}

.myorders-page-right-container-contents-individual-description-total span{
    font-weight: bold;
    color: #5F2EEB;
    font-size: 1rem;
}

.myorders-page-right-container-contents-individual-description-paybutton{
    /* background-color: limegreen; */
    display: flex;
    justify-content: right;
}

.myorders-page-right-container-contents-individual-description-paybutton button{
    max-width: 10rem;
    width: 100%;
    background-color: #5F2EEB;
    color: white;
    padding: 15px 30px;
    text-align: center; 
    text-decoration: none;  
    font-size: 1rem; 
    font-family: 'Figtree', sans-serif;
    font-weight: 500;
    border: none; 
    border-radius: 12px;
    cursor: pointer;
}

@media (max-width: 1021px) {
    .myorders-page-right-container-contents-individual-description-total{
        border-left: none;
        max-width: 5rem;
    }
}

@media (max-width: 939px) {
    .myorders-page-right-container-contents-individual-description-paybutton{
        justify-content: flex-start;
    }
}

@media (max-width: 657px) {
    .myorders-page-right-container-contents-individual-header-contents{
        margin-right: 0.8rem;
    }
}