.payment-page-right-container-wrapper{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 3rem;
    padding-bottom: 2rem;
    height: 100%;
    /* background-color: red; */
}

.payment-page-right-container-header{
    font-size: 1.1rem;
    /* margin-bottom: 1rem; */
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
}

.payment-page-right-container-header img{
    max-height: 3rem;
}

.payment-page-right-container-steps{
    /* background-color: peru; */
    display: flex;
    gap: 0.3rem;
    margin-bottom: 2rem;
}

.payment-page-right-container-steps span {
    font-weight: bold;
    color: #5F2EEB;
}

.payment-page-right-container-steps-detailed{
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    box-sizing: border-box;
    padding-left: 2rem;
    gap: 0.5rem;
    margin-bottom: 2rem;
}

.payment-page-right-container-steps-proof{
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
}

.payment-page-right-container-steps-proof span{
    color: #25D366;
    font-size: 1.1rem;
    margin-left: 0.5rem;
    margin-right: 0.4rem;
}

.payment-page-right-container-alert-1{
    margin-bottom: 0.4rem;
}

.payment-page-right-container-alert-2 span{
    font-weight: bold;
    color: rgb(236, 59, 59);
}