/* Recommended Products Page Styling */

.search-results-page{ 
    background-color: #F5F5F5;
    padding-top: 8.7rem;
    padding-bottom: 5.5rem;
    display: flex;
    justify-content: center;
}

.search-results-container{
    /* background-color: grey; */
    /* border: 1px solid black; */
    max-width: 68.5rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.search-results-page-header-container{
    display: flex;
    justify-content: space-between;
    gap: 0.8rem;
    font-weight: bold;
    /* border: 1px solid black; */
    max-height: 3rem;
    height: 3rem;
}

.search-results-page-header-filter{
    background-color: #FFF;
    box-shadow: 
        0px 4px 0px #5F2EEB, 
        inset 0px -4px 0px #5F2EEB,
        0px 4px 10px rgba(0, 0, 0, 0.1),
        inset -8px 0px 8px transparent,
        inset 8px 0px 8px transparent;
    border-radius: 12px;
    /* padding: 1rem; */
    /* background-color: rgb(119, 223, 119); */
    max-width: 10.7rem;
    color: #5F2EEB;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-results-page-header-products{
    background-color: #FFF;
    box-shadow: 
        0px 4px 0px #989898, 
        inset 0px -4px 0px #989898,
        0px 4px 10px rgba(0, 0, 0, 0.1),
        inset -8px 0px 8px transparent,
        inset 8px 0px 8px transparent;
    border-radius: 12px;
    /* padding: 1rem; */
    /* background-color: yellow; */
    max-width: auto;
    width: 100%;
    color: #989898;
    overflow: hidden;
}

.search-results-page-header-products-wrapper{
    /* background-color: red; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
}

.search-results-page-header-services{
    background-color: #FFF;
    box-shadow: 
        0px 4px 0px #989898, 
        inset 0px -4px 0px #989898,
        0px 4px 10px rgba(0, 0, 0, 0.1),
        inset -8px 0px 8px transparent,
        inset 8px 0px 8px transparent;
    border-radius: 12px;
    /* background-color: antiquewhite; */
    /* padding: 1rem; */
    max-width: 100%;
    width: 100%;
    color: #989898;
    overflow: hidden;
}

.search-results-page-header-services-wrapper{
    /* background-color: red; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
}

#header-selected{
    box-shadow: 
        0px 4px 0px #5F2EEB, 
        inset 0px -4px 0px #5F2EEB,
        0px 4px 10px rgba(0, 0, 0, 0.1),
        inset -8px 0px 8px transparent,
        inset 8px 0px 8px transparent;
    color: #5F2EEB;
}

.purple-checkbox{
    accent-color: #5F2EEB;
    /* height: 1.3rem;
    width: 1.3rem; */
    border-radius: 10px;
    /* margin-right: 1rem; */
}

.search-results-contents-container{
    display: flex;
    /* border: 1px solid black; */
    justify-content: space-between;
}

.search-results-filter-sidebar-container{
    background-color: #FFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding-bottom: 1rem;
    max-width: 10.7rem;
    height: 100%;
    
}

.search-results-filter-sidebar-wrapper{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#filter-header{
    color: black;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 0.4rem;
}

#option-selected{
    color: #5F2EEB;
    font-weight: bold;
}

.search-results-filter-sidebar-location{
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: #989898;
    font-size: 0.75rem;
}

.location-options{
    display: flex;
    align-items: center;
    /* background-color: red; */
    gap: 0.5rem;
}

.search-results-filter-sidebar-reputation{
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: #989898;
    font-size: 0.75rem;
}  

.reputation-options{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.search-results-filter-sidebar-price{
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
}

#price-header{
    color: black;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.price-options{
    /* background-color: rgb(255, 12, 12); */
    display: flex;
    align-items: center;
}

.currency-prefix {
    background-color: #eee; /* Light background for "Rp" */
    padding: 6px 12px;
    border-radius: 8px 0 0 8px; /* Round only the left side */
    border: 1px solid #989898;
    border-right: none;
    color: #989898;
    font-size: 0.6rem;
    font-family: 'Figtree', sans-serif;
    margin-top: 0.8rem;
}

.search-results-filter-sidebar-ratings{
    /* background-color: rgb(104, 219, 104); */
    display: flex;
    flex-direction: column;
    color: #989898;
    font-size: 0.75rem;
    gap: 0.5rem;
}

.ratings-options{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.ratings-options span{
    color: #FFD600;
    font-size: 0.6rem;
}

.search-results-filter-sidebar-final-buttons{
    display: flex;
    justify-content: space-between;
    /* background-color: lightskyblue; */
    flex-wrap: wrap;
    margin-top: 0.7rem;
}


/* The Same Styling From Main Page */

.search-product-list-container{
    max-width: 57rem;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
}

.search-product-list-wrapper{
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    gap: 0.87rem;
    justify-content: flex-start;
}

#search-space-bottom{
    margin-bottom: 0.8rem;
}

@media (max-width: 1050px) {
    .search-product-list-wrapper{
        justify-content: flex-start;
    }
    .search-product-list-container{
        max-width: 45.54rem;
    }
}

.search-product-item-container{
    background-color: #FFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    max-width: 10.7rem;
    max-height: 20rem;
    width: 100%;
    height: 17.8rem;
    display: flex;
    flex-direction: column;
}

.search-product-item-image{
    max-width: 100%;
    max-height: 60%;
    height: 100%;
    /* background-color: red; */
}

.search-product-item-image img{
    border-top-left-radius: 10px;
    border-top-right-radius: 12px;
    min-height: 100%;
    max-width: 100%;
    min-width: 100%;
}

.search-product-item-description{
    max-height: 40%;
    height: 100%;
    /* background-color: orange; */
    overflow: hidden;
}

.search-product-item-description-wrapper{
    padding: 0.5rem;
}

.search-product-item-name{
    /* background-color: beige; */
    padding-top: 0.3rem;
    max-height: 2.5rem;
    overflow: hidden;
    font-size: 0.9rem;
}

.search-product-item-price{
    /* background-color: greenyellow; */
    padding: 0.5rem 0;
    padding-top: 0.2rem;
    font-weight: bold;
    font-size: 1.1rem;
}

.search-product-item-ratings{
    /* background-color: pink; */
    font-size: 0.8rem;
    color: #989898;
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.search-product-item-ratings i{
    color: #FFD600;
}
