*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Figtree', sans-serif;
}

/* Non Student Sign Up Styling */

/* Sign In Styling */

.sign-up-non-student-page{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.sign-up-non-student-container{
    /* background-color: grey; */
    /* border: 1px solid black; */
    max-width: 62rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin-top: 1rem;
    /* background-color: aquamarine; */
}

.sign-up-non-student-logo-container{
    display: flex;
    justify-content: center;
    /* background-color: yellow; */
}

.sign-up-non-student-logo-container img{
    width: auto;
    max-height: 2.8rem;
    height: 100%;
}

.sign-up-non-student-second-row-container{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
}

.sign-up-non-student-left-side-graphic{
    /* background-color: orange; */
    max-width: 26rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.sign-up-non-student-left-side-graphic img{
    max-width: 100%;
    width: 100%;
}

.sign-up-non-student-left-side-graphic-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    /* background-color: antiquewhite; */
    font-weight: 600;
    font-size: 1.6rem;
}

.sign-up-non-student-left-side-graphic-text span{
    margin-top: 0.7rem;
    font-size: 0.8rem;
    color: #989898;
}

.sign-up-non-student-right-side-form{
    background-color: #FFF;
    /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); */
    border-radius: 12px;
    max-width: 26rem;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 3rem;
    padding-bottom: 1.7rem;
}

.sign-up-non-student-right-side-form-wrapper{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    /* background-color: red; */
}

.sign-up-non-student-right-side-form-header{
    /* background-color: #FFD1DC; */
    text-align: center;
    font-weight: 600;
    font-size: 1.7rem;
    /* margin-bottom: 0.5rem; */
}

.sign-up-non-student-right-side-form-sign-up-description{
    /* background-color: #E0FFFF; */
    text-align: center;
    font-size: 0.8rem;
}

.sign-up-non-student-right-side-form-sign-up-description SPAN{
    font-weight: bold;
    color: #5F2EEB;
}

.sign-up-non-student-right-side-form-sign-up-button{
    /* background-color: #E6E6FA; */
    text-align: center;
}

.sign-up-non-student-right-side-form-sign-up-button button{
    width: 100%;
    background-color: #FFF;
    color: #5F2EEB;
    padding: 15px 30px;
    text-align: center; 
    text-decoration: none;  
    font-size: 0.8rem; 
    font-family: 'Figtree', sans-serif;
    font-weight: 600;
    border: 1px solid #5F2EEB; 
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sign-up-non-student-right-side-form-sign-up-non-student-button button:hover {
    background-color: #4C23CE; 
}

.sign-up-non-student-right-side-form-divider{
    /* background-color: #98FB98; */
    text-align: center;
    width: 100%;
    color: #989898;
    font-size: 0.8rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #989898;
    line-height: 0.1em;
}

.sign-up-non-student-right-side-form-divider span { 
    background:#fff; 
    padding:0 1rem; 
}

.sign-up-non-student-right-side-form-email{
    /* background-color: #FFDAB9; */
    color: #FF0000;
}

.sign-up-non-student-right-side-form-email span{
    font-size: 0.8rem;
    color: black;
    font-weight: bold;
}

.sign-up-non-student-right-side-form-email-alternate-campus{
    /* background-color: #FFDAB9; */
    font-size: 0.8rem;
    color: black;
    /* font-weight: bold; */
}

.sign-up-non-student-right-side-form-email-alternate-campus span{
    color: #FF0000;
}

.sign-up-non-student-right-side-form-email input[type="text"] {
    max-width: 100%;
    width: 100%;
    height: auto; 
    padding: 0.9rem 1rem;
    box-sizing: border-box;
    border: 1px solid lightgray;
    border-radius: 12px;    
    font-size: 0.8rem;   
    color: black;
    background-color: #fff;
    font-family: 'Figtree', sans-serif;
    margin-top: 0.3rem;
    transition: 0.2s ease-in-out;
}

.sign-up-non-student-right-side-form-email input[type="email"] {
    max-width: 100%;
    width: 100%;
    height: auto; 
    padding: 0.9rem 1rem;
    box-sizing: border-box;
    border: 1px solid lightgray;
    border-radius: 12px;    
    font-size: 0.8rem;   
    color: black;
    background-color: #fff;
    font-family: 'Figtree', sans-serif;
    margin-top: 0.3rem;
    transition: 0.2s ease-in-out;
}

.sign-up-non-student-right-side-form-email input[type="date"] {
    max-width: 100%;
    width: 100%;
    height: auto; 
    padding: 0.9rem 1rem;
    box-sizing: border-box;
    border: 1px solid lightgray;
    border-radius: 12px;    
    font-size: 0.8rem;   
    color: black;
    background-color: #fff;
    font-family: 'Figtree', sans-serif;
    margin-top: 0.3rem;
    transition: 0.2s ease-in-out;
}

.sign-up-non-student-right-side-form-email input[type="tel"] {
    max-width: 100%;
    width: 100%;
    height: auto; 
    padding: 0.9rem 1rem;
    box-sizing: border-box;
    border: 1px solid lightgray;
    border-radius: 12px;    
    font-size: 0.8rem;   
    color: black;
    background-color: #fff;
    font-family: 'Figtree', sans-serif;
    margin-top: 0.3rem;
    transition: 0.2s ease-in-out;
}

.sign-up-non-student-right-side-form-email input[type="text"]:focus {
    outline: none;       
    border-color: #5F2EEB;
}

.sign-up-non-student-right-side-form-email input[type="email"]:focus {
    outline: none;       
    border-color: #5F2EEB;
}

.sign-up-non-student-right-side-form-email input[type="date"]:focus {
    outline: none;       
    border-color: #5F2EEB;
}

.sign-up-non-student-right-side-form-email input[type="tel"]:focus {
    outline: none;       
    border-color: #5F2EEB;
}

.sign-up-non-student-right-side-form-password{
    /* background-color: #FFFFE0; */
    color: #FF0000;
    position: relative; /* Necessary for absolute positioning of the icon */
}

.sign-up-non-student-right-side-form-password span{
    font-size: 0.8rem;
    color: black;
    font-weight: bold;
}

.sign-up-non-student-right-side-form-password input[type="password"] {
    max-width: 100%;
    width: 100%;
    height: auto; 
    padding: 0.9rem 1rem;
    box-sizing: border-box;
    border: 1px solid lightgray;
    border-radius: 12px;    
    font-size: 0.8rem;   
    color: black;
    background-color: #fff;
    font-family: 'Figtree', sans-serif;
    margin-top: 0.3rem;
    transition: 0.2s ease-in-out;
}

.sign-up-non-student-right-side-form-password input[type="password"]:focus {
    outline: none;       
    border-color: #5F2EEB;
    transition: 0.2s ease-in-out;
}

.eye-icon {
    position: absolute;
    top: 66%;                      /* Center vertically */
    right: 1rem;                   /* Adjust as needed */
    transform: translateY(-50%);   /* Center vertically */
    cursor: pointer;
    color: #989898;
}

.sign-up-non-student-right-side-form-sign-up-non-student-button{
    /* background-color: #F08080; */
    margin-top: 0.5rem;
}

.sign-up-non-student-right-side-form-sign-up-non-student-button button{
    width: 100%;
    background-color: #5F2EEB;
    color: white;
    padding: 15px 30px;
    margin-top: 0.5rem;
    text-align: center; 
    text-decoration: none;  
    font-size: 0.8rem; 
    font-family: 'Figtree', sans-serif;
    font-weight: 500;
    border: none; 
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sign-up-non-student-right-side-form-sign-up-button button:hover {
    background-color: #4C23CE; 
}

.sign-up-non-student-right-side-side-agreement{
    margin-top: 1rem;
    /* background-color: antiquewhite; */
    text-align: center;
    color: #989898;
    font-size: 0.7rem;
    font-weight: 500;
}

.sign-up-non-student-right-side-side-agreement span{
    color: #5F2EEB;
}


.sign-up-non-student-right-side-form-campus-option{
    width: 100%;
    margin-top: 0.3rem;
}

.sign-up-non-student-right-side-container{
    display: flex;
    flex-direction: column;
    min-height: 40.5rem;
    height: 100%;
    /* background-color: red; */
    justify-content: space-between;
}

@media (max-width: 831px) {
    .sign-up-non-student-left-side-graphic {
        display: none; 
    }
    .sign-up-non-student-second-row-container{
        justify-content: center;
    }
}