*{
    margin: 0;
    padding: 0;
}

body{
    /* min-height: 500vh; */
    font-family: 'Figtree', sans-serif;
}


/* Footer Styling */

footer{
    background-image: linear-gradient(#5F2EEB, #A738FF);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    bottom: 0;
    padding-left: 14%;
    padding-right: 8%;
    color: white;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    height: 150px;
}

.footer-logo{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-logo-image{
    width: 8.5rem;
    height: auto;
    object-fit: cover;
}

.footer-description{
    width: 25%;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.empty-space{
    width: 25%;
}

.footer-services{
    width: 25%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#margin-above{
    margin-top: 0.5rem;
}


/* Responsiveness For 1920, 1366, 1280, and 800 width screens */
/* Other screen widths above AND below those are compatible, but lower than 800 will not be supported design wise */


@media (max-width: 1366px) {
    .empty-space{
        width: 20%;
    }
}

@media (max-width: 1089px) {
    .footer-description{
        font-size: 0.8rem;
    }

    .footer-services{
        font-size: 0.8rem;
    }
}

@media (max-width: 800px) {
    .empty-space{
        width: 15%;
    }

    .footer-services{
        font-size: 0.8rem;
    }
}

@media (max-width: 720px) {
    .footer-description{
        display: none;
    }
}

@media (max-width: 480px) {
    .footer-description{
        display: none;
    }
}