*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    font-family: 'Figtree', sans-serif;
    background-color: #F5F5F5;
}


/* Main Page Styling */

.main-page{ 
    /* background-color: rgb(211, 165, 165); */
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
}

.main-page-container{
    /* background-color: grey; */
    /* border: 1px solid black; */
    max-width: 68.5rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.image-slideshow-container{
    width: 100%;
    overflow: hidden;
    border-radius: 12px;
    /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); */
}

.image-slideshow-container-wrapper{
    width: 100%;
    display: flex;
    animation: slide 16s infinite;
}

.image-slideshow-container-wrapper img{
    min-width: 100%;
    width: 100%;
    max-height: 193px;
}

@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
}

.recommendation-header-container{
    background-color: #FFF;
    box-shadow: 
        0px 4px 0px #5F2EEB, 
        inset 0px -4px 0px #5F2EEB,
        0px 4px 10px rgba(0, 0, 0, 0.1),
        inset -8px 0px 8px transparent,
        inset 8px 0px 8px transparent;
    border-radius: 12px;
    margin-top: 1rem;
}

.recommendation-header{
    padding: 0.8rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    color: #5F2EEB;
}

.product-list-container{
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
}

.product-item-container{
    background-color: #FFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    max-width: 10.7rem;
    max-height: 20rem;
    width: 100%;
    height: 17.8rem;
    display: flex;
    flex-direction: column;
}

.product-item-image{
    max-width: 100%;
    max-height: 60%;
    height: 100%;
    /* background-color: red; */
}

.product-item-image img{
    border-top-left-radius: 10px;
    border-top-right-radius: 12px;
    min-height: 100%;
    max-width: 100%;
    min-width: 100%;
}

.product-item-description{
    max-height: 40%;
    height: 100%;
    /* background-color: orange; */
    overflow: hidden;
}

.product-item-description-wrapper{
    padding: 0.5rem;
}

.product-item-name{
    /* background-color: beige; */
    padding-top: 0.3rem;
    max-height: 2.5rem;
    overflow: hidden;
    font-size: 0.9rem;
}

.product-item-price{
    /* background-color: greenyellow; */
    padding: 0.5rem 0;
    padding-top: 0.2rem;
    font-weight: bold;
    font-size: 1.1rem;
}

.product-item-ratings{
    /* background-color: pink; */
    font-size: 0.8rem;
    color: #989898;
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.product-item-ratings i{
    color: #FFD600;
}

.view-more-container{
    background-image: linear-gradient(#5F2EEB, #A738FF);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    max-width: 10.7rem;
    max-height: 20rem;
    width: 100%;
    height: 17.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-weight: 600;
}